# 1. Load Lib

In [1]:
import re
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
from datetime import datetime

# 2. [GET DATA]

## Fiis data

In [2]:
def get_data(save=False):
    # --- Do the request -----------------------------------------
    req = requests.get('https://www.fundsexplorer.com.br/ranking')
    soup = bs(req.content, 'html.parser')
    # --- Get the data table -------------------------------------
    table = soup.find('table', {'id' : 'table-ranking'})
    # --- Get headers --------------------------------------------
    headers = [th.text for th in table.find_all('th')]
    # --- Get data -----------------------------------------------
    data = []
    trs = table.find('tbody').find_all('tr')
    for tr in trs:
        tds = tr.find_all('td')
        tds_data = []
        for td in tds[2:]:
            added = False
            try:
                tds_data.append(td['data-order'])
                added = True
            except:
                ...
            if(not added):
                try:
                    tds_data.append(td['data-valor'])
                except:
                    tds_data.append(None)
        d = (
            tds[0]['data-index'],
            tds[1].text,
            *tds_data
        )
        data.append(d)
    fiis_data = pd.DataFrame(columns=headers, data=data)
    if(save):
        fiis_data.to_csv('./bases/funds_explorer_database.csv')
    return fiis_data

In [3]:
need_to_get_data = True
fiis_data_loaded = None
if(need_to_get_data):
    fiis_data_loaded = get_data()

## Hist Asset Data

In [4]:
assets = pd.read_csv('../../01-data/all_assets_hist.csv')

---

## 2.1 Setting Data

In [5]:
fiis_data = None
if(fiis_data_loaded is None):
    fiis_data = pd.read_excel('./bases/Funds_Explorer_Data_Base.xlsx')
else:
    fiis_data = fiis_data_loaded

In [6]:
fiis_data.sort_values(by='DividendYield', ascending=False).head(10)

,Códigodo fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
35,KINP11,Residencial,12.99,2164.0,0.37073649532858,2.89637886975453,7.32657694878497,0.0,0.0,2.44219231626166,...,49695162.91,6.952381,1.8684246447368176,-9999999999,-9999999999,-9999999999,-9999999999,-9999999999,-9999999999,0
214,IDFI11,Híbrido,82.39,169.0,1.809888803,2.19646699393204,5.01474874139629,8.88991941449007,0.0,1.67158291379876,...,180214602.95,87.571026,0.9408362989831819,1.48013881851744,-7.89071256432954,-6.52736724553439,-10.0046741861139,-9999999999,-9999999999,0
108,HGLG11,Logística,162.0,25676.0,3.3,2.00705510278555,3.3439678945142,5.32278377781904,9.68830228560704,1.11465596483807,...,3501807619.41,149.288321,1.0851485160717964,0.73682923930801,0.470539739947373,1.21083605364187,4.38196989866693,6.9,6.5,17
253,TORD11,Outros,8.62,68954.0,0.17,1.94063926940639,3.98300089914666,6.33047607929481,12.2652447872773,1.32766696638222,...,500070556.28,14.266797,0.6042000877982633,0.490649723270051,7.22538145895184,7.75148249635544,9.08964423016518,-9999999999,-9999999999,0
176,JPPA11,Títulos e Val. Mob.,102.5,6406.0,2.04,1.92271442035815,5.58392081181665,9.89126280633975,16.6400921747175,1.86130693727222,...,64361837.77,106.565686,0.9618480755615837,1.87677673280309,0.245518805341871,2.12690337795827,9.10647482214994,-9999999999,-9999999999,0
67,RZAK11,Títulos e Val. Mob.,97.5,23917.0,1.8,1.83767228177642,4.88484254428983,9.03635669009665,14.8570527631545,1.62828084809661,...,282821145.09,94.219256,1.0348203131640097,1.27362500081724,0.348724689917668,1.62679113556974,3.03388721264106,-9999999999,-9999999999,0
195,NEWL11,Híbrido,93.29,326.0,1.7,1.82795698924731,3.47040827238763,5.82793905337611,10.9556746718947,1.15680275746254,...,237060611.85,116.600624,0.8000814815536494,0.686102674716389,0.131443714823698,0.818448228383239,4.21336905628502,0.0,-9999999999,2
215,PORD11,Títulos e Val. Mob.,97.0,4727.0,1.72,1.76464553195855,4.8278895134027,8.54204731556201,14.5932012518618,1.60929650446757,...,369859708.13,99.201316,0.9778096088967206,1.42135211190142,0.030103418259575,1.45188340573219,4.91932256658898,-9999999999,-9999999999,0
47,VGIP11,Outros,99.5,51905.0,1.75,1.74511368169126,4.64351223843569,8.70094761553757,15.8667298783773,1.5478374128119,...,1095538563.59,92.914394,1.0708782107538688,1.88345413951685,-0.691421582152707,1.17900994895357,5.0896978577611,-9999999999,-9999999999,0
66,ARCT11,Híbrido,107.4,27265.0,1.86,1.70642201834862,5.15450555530191,9.60201997362056,16.4037572698471,1.71816851843397,...,288419391.7,100.195442,1.071905047337383,1.63731426625175,0.23095884026505,1.87205462855764,3.4006771153642,-9999999999,-9999999999,4

# 3. Transform Data

In [7]:
for col in fiis_data.columns[2:]:
    fiis_data[col] = fiis_data[col].astype('float64')

In [8]:
fiis_data.head()

,Códigodo fundo,Setor,Preço Atual,Liquidez Diária,Dividendo,DividendYield,DY (3M)Acumulado,DY (6M)Acumulado,DY (12M)Acumulado,DY (3M)Média,...,PatrimônioLíq.,VPA,P/VPA,DYPatrimonial,VariaçãoPatrimonial,Rentab. Patr.no Período,Rentab. Patr.Acumulada,VacânciaFísica,VacânciaFinanceira,QuantidadeAtivos
0,FIVN11,Shoppings,2.12,6736.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.567849e+07,6.977698,0.303825,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,5.600000e+01,-1.000000e+10,1.0
1,BZLI11,Títulos e Val. Mob.,14.70,44041.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.313258e+08,10.669988,1.377696,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,0.0
2,XTED11,Lajes Corporativas,6.07,36.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.730595e+07,13.893154,0.436906,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,0.000000e+00,1.000000e+02,1.0
3,ALMI11,Lajes Corporativas,897.00,149.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.496330e+08,2245.365259,0.399490,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,6.405000e+01,-1.000000e+10,1.0
4,PABY11,Híbrido,6.39,9.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.025113e+07,-13.516787,-0.472745,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,1.0

In [9]:
df = pd.get_dummies(fiis_data, columns=['Setor'])

In [10]:
#color_1hot_df = pd.DataFrame(color_1hot.toarray())

In [11]:
# from sklearn.preprocessing import OneHotEncoder
# encoder = OneHotEncoder()
# # apply on df
# sector_1hot = encoder.fit_transform(fiis_data['Setor'].values.reshape(-1,1))
# sector_1hot_df = pd.DataFrame(color_1hot.toarray())

---

In [12]:
# Transform Historical Asset Data
def pivot_assets(assets, value_fields):
    date = assets['base_date'].apply(lambda dt : datetime.strptime(dt, '%Y-%m-%d'))
    assets['date'] = date

    year = assets['base_date'].apply(lambda dt : int(dt[0:4]))
    month = assets['base_date'].apply(lambda dt : int(dt[5:7]))

    yearmonth = assets['base_date'].apply(lambda dt : dt[0:4]+dt[5:7])
    assets['yearmonth'] = yearmonth

    # f_dy = assets['dy'] > 0.0

    # value_field = 'yield'
    # value_field = 'dy'
    value_field = value_fields

    f_y = assets[value_field] > 0.0
    f_has_dates = assets['date'] >= '2021-06-01'
    filter_ = f_y & f_has_dates
    fdf = assets[filter_]

    selected_assets = fdf['asset'].unique()#[:100]

    f_asset = fdf['asset'].apply(lambda asset: asset in selected_assets)
    ffdf = fdf[f_asset]

    ffdf_pivoted = ffdf.pivot_table(values = value_field, index = 'yearmonth', columns = 'asset').fillna(0)
    
    return ffdf_pivoted

# 4. Export Data

In [13]:
# for c in df.columns:
#     print(c)

In [14]:
column_name_mapping = {
    'Códigodo fundo' : 'asset',
    'Preço Atual' : 'price',
    'Liquidez Diária' : 'lqdt',
    'Dividendo' : 'divd',
    'DividendYield' : 'dy',
    'DY (3M)Acumulado' : 'dy3ac',
    'DY (6M)Acumulado' : 'dy6ac',
    'DY (12M)Acumulado' : 'dy12ac',
    'DY (3M)Média' : 'dy3m',
    'DY (6M)Média' : 'dy6m',
    'DY (12M)Média' : 'dy12m',
    'DY Ano' : 'dyy',
    'Variação Preço' : 'price_delta',
    'Rentab.Período' : 'profitability',
    'Rentab.Acumulada' : 'profitability_ac',
    'PatrimônioLíq.' : 'liq_patr',
    'VPA' : 'vpa',
    'P/VPA' : 'pvp',
    'DYPatrimonial' : 'dyp',
    'VariaçãoPatrimonial' : 'patr_delta',
#     'Rentab. Patr.no Período' : '',
#     'Rentab. Patr.Acumulada' : '',
#     'VacânciaFísica' : '',
#     'VacânciaFinanceira' : '',
#     'QuantidadeAtivos' : '',
    'Setor_' : 'sector_none',
    'Setor_Hospital' : 'sector_hosp',
    'Setor_Hotel' : 'sector_hotel',
    'Setor_Híbrido' : 'sector_hbd',
    'Setor_Lajes Corporativas' : 'sector_corp',
    'Setor_Logística' : 'sector_log',
    'Setor_Outros' : 'sector_other',
    'Setor_Residencial' : 'sector_resd',
    'Setor_Shoppings' : 'sector_shop',
    'Setor_Títulos e Val. Mob.' : 'sector_title',
}

In [15]:
final_df = df.copy()
for col in final_df.columns:
    if(col in column_name_mapping):
        final_df.rename(columns={col : column_name_mapping[col]}, inplace=True)
    else:
        del final_df[col]

In [16]:
print(final_df.columns)
print('-'*80)
print(df.columns)

Index(['asset', 'price', 'lqdt', 'divd', 'dy', 'dy3ac', 'dy6ac', 'dy12ac',
       'dy3m', 'dy6m', 'dy12m', 'dyy', 'price_delta', 'profitability',
       'profitability_ac', 'liq_patr', 'vpa', 'pvp', 'dyp', 'patr_delta',
       'sector_none', 'sector_hosp', 'sector_hotel', 'sector_hbd',
       'sector_corp', 'sector_log', 'sector_other', 'sector_resd',
       'sector_shop', 'sector_title'],
      dtype='object')
--------------------------------------------------------------------------------
Index(['Códigodo fundo', 'Preço Atual', 'Liquidez Diária', 'Dividendo',
       'DividendYield', 'DY (3M)Acumulado', 'DY (6M)Acumulado',
       'DY (12M)Acumulado', 'DY (3M)Média', 'DY (6M)Média', 'DY (12M)Média',
       'DY Ano', 'Variação Preço', 'Rentab.Período', 'Rentab.Acumulada',
       'PatrimônioLíq.', 'VPA', 'P/VPA', 'DYPatrimonial',
       'VariaçãoPatrimonial', 'Rentab. Patr.no Período',
       'Rentab. Patr.Acumulada', 'VacânciaFísica', 'VacânciaFinanceira',
       'QuantidadeAtivos', 'Setor_', 'Setor_Hospital', 'Setor_Hotel',
       'Setor_Híbrido', 'Setor_Lajes Corporativas', 'Setor_Logística',
       'Setor_Outros', 'Setor_Residencial', 'Setor_Shoppings',
       'Setor_Títulos e Val. Mob.'],
      dtype='object')

In [17]:
# fiis
#fiis = final_df[:10]
#fiis

In [18]:
# This string is printed to be used in .mod file.
# We need to define in the model what columns we are considering
print("MODEL: set NP", "'" +  "','".join(final_df.columns[1:]) + "'")

MODEL: set NP 'price','lqdt','divd','dy','dy3ac','dy6ac','dy12ac','dy3m','dy6m','dy12m','dyy','price_delta','profitability','profitability_ac','liq_patr','vpa','pvp','dyp','patr_delta','sector_none','sector_hosp','sector_hotel','sector_hbd','sector_corp','sector_log','sector_other','sector_resd','sector_shop','sector_title'

In [19]:
fdf = final_df.sort_values(by='dy', ascending=False).reset_index(drop=True)

In [20]:
fdf

,asset,price,lqdt,divd,dy,dy3ac,dy6ac,dy12ac,dy3m,dy6m,...,sector_none,sector_hosp,sector_hotel,sector_hbd,sector_corp,sector_log,sector_other,sector_resd,sector_shop,sector_title
0,KINP11,12.99,2164.0,0.370736,2.896379e+00,7.326577e+00,0.000000e+00,0.000000e+00,2.442192e+00,0.000000e+00,...,0,0,0,0,0,0,0,1,0,0
1,IDFI11,82.39,169.0,1.809889,2.196467e+00,5.014749e+00,8.889919e+00,0.000000e+00,1.671583e+00,1.481653e+00,...,0,0,0,1,0,0,0,0,0,0
2,HGLG11,162.00,25676.0,3.300000,2.007055e+00,3.343968e+00,5.322784e+00,9.688302e+00,1.114656e+00,8.871306e-01,...,0,0,0,0,0,1,0,0,0,0
3,TORD11,8.62,68954.0,0.170000,1.940639e+00,3.983001e+00,6.330476e+00,1.226524e+01,1.327667e+00,1.055079e+00,...,0,0,0,0,0,0,1,0,0,0
4,JPPA11,102.50,6406.0,2.040000,1.922714e+00,5.583921e+00,9.891263e+00,1.664009e+01,1.861307e+00,1.648544e+00,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,VXXV11,889.00,8800.0,10.760000,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,...,0,0,0,0,0,0,1,0,0,0
279,HRDF11,1.24,56.0,6.800000,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,...,0,0,0,1,0,0,0,0,0,0
280,CJCT11,81.50,595.0,0.000000,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,...,0,0,0,0,1,0,0,0,0,0
281,LFTT11,94.25,4.0,0.747633,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,...,0,0,0,0,0,0,0,1,0,0
282,ORPD11,93.00,3.0,1.379310,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,-1.000000e+10,...,0,0,0,0,0,0,0,0,0,1

In [21]:
assets_list = list(fdf['asset'])
f = assets['asset'].apply(lambda a : a in assets_list)
non_assets = assets[~f]
assets = assets[f]

#non_assets

In [22]:
n_assets = 245
if(n_assets == -1):
    fiis = fdf
else:
    fiis = fdf[:n_assets]

In [23]:
#fiis
fiis

,asset,price,lqdt,divd,dy,dy3ac,dy6ac,dy12ac,dy3m,dy6m,...,sector_none,sector_hosp,sector_hotel,sector_hbd,sector_corp,sector_log,sector_other,sector_resd,sector_shop,sector_title
0,KINP11,12.99,2164.0,0.370736,2.896379,7.326577,0.000000,0.000000,2.442192,0.000000,...,0,0,0,0,0,0,0,1,0,0
1,IDFI11,82.39,169.0,1.809889,2.196467,5.014749,8.889919,0.000000,1.671583,1.481653,...,0,0,0,1,0,0,0,0,0,0
2,HGLG11,162.00,25676.0,3.300000,2.007055,3.343968,5.322784,9.688302,1.114656,0.887131,...,0,0,0,0,0,1,0,0,0,0
3,TORD11,8.62,68954.0,0.170000,1.940639,3.983001,6.330476,12.265245,1.327667,1.055079,...,0,0,0,0,0,0,1,0,0,0
4,JPPA11,102.50,6406.0,2.040000,1.922714,5.583921,9.891263,16.640092,1.861307,1.648544,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,CARE11,4.04,10228.0,0.001677,0.226622,0.662308,1.358523,1.600128,0.220769,0.226421,...,0,0,0,1,0,0,0,0,0,0
250,ERPA11,127.00,541.0,0.267830,0.210890,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,0,0,0,0,0,0,0,0,0
251,ATSA11,88.87,1.0,0.250000,0.182482,0.592583,1.296409,2.967680,0.197528,0.216068,...,0,0,0,0,0,0,0,0,1,0
252,CXTL11,338.79,4.0,0.478929,0.164580,0.672865,1.290376,0.000000,0.224288,0.215063,...,0,0,0,0,0,1,0,0,0,0
253,BLMO11,24785.85,4.0,10.270000,0.041435,0.168749,0.000000,0.000000,0.056250,0.000000,...,0,0,0,0,1,0,0,0,0,0

In [24]:
#assets
final_assets = pivot_assets(assets, 'base_quotation')

In [25]:
# final_assets.head()
final_assets

asset,ABCP11,AFHI11,AFOF11,AIEC11,ALZR11,APTO11,ARCT11,ARRI11,BARI11,BBFI11B,...,WTSP11B,XPCA11,XPCI11,XPCM11,XPHT11,XPIN11,XPLG11,XPML11,XPPR11,XPSF11
yearmonth,,,,,,,,,,,,,,,,,,,,,
202106,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,45.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
202107,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,46.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
202108,73.50,0.00,0.00,81.40,0.00,0.00,0.00,101.93,106.50,2444.99,...,46.25,0.00,100.15,29.90,0.00,0.00,105.47,0.00,68.92,8.48
202109,69.25,95.00,91.45,81.00,115.99,0.00,101.75,97.45,105.33,2380.00,...,47.17,0.00,96.89,26.31,0.00,95.63,102.25,102.03,66.51,8.21
202110,66.99,95.61,79.97,74.00,116.25,0.00,101.79,96.45,103.40,2265.00,...,50.59,0.00,97.34,21.65,0.00,94.12,98.26,104.38,64.17,7.91
202111,61.34,98.25,79.53,68.81,102.98,0.00,101.90,94.22,101.70,1977.00,...,50.00,8.94,91.00,19.70,0.00,84.56,90.83,93.90,59.12,7.10
202112,69.99,98.20,82.44,73.50,109.95,10.59,105.00,97.98,103.85,2322.00,...,48.90,9.67,96.81,22.23,0.00,89.97,102.40,94.55,67.50,8.25
202201,74.30,101.18,86.00,77.70,114.49,10.53,108.00,101.89,105.15,2275.00,...,0.00,9.72,97.30,19.05,0.00,93.85,98.59,95.20,63.23,7.90
202202,77.04,102.25,90.00,77.21,116.45,10.19,109.50,100.48,103.16,2140.00,...,0.00,9.70,95.45,17.45,0.00,85.70,92.04,93.55,58.82,7.23
202203,72.90,102.15,93.15,81.03,110.15,10.20,109.86,99.00,102.70,2028.05,...,43.88,9.87,97.10,17.44,100.00,82.79,97.73,90.60,59.27,7.00
202204,73.57,103.13,94.01,80.20,115.52,10.40,106.31,98.80,102.45,2060.00,...,41.98,10.39,96.71,17.49,98.06,84.81,97.95,100.05,58.53,7.35
202205,72.50,100.65,89.00,80.30,116.35,10.10,106.00,96.20,100.60,1936.00,...,0.00,10.06,94.80,16.44,104.01,78.36,95.46,97.40,54.18,7.17
202206,0.00,102.44,90.89,0.00,115.50,0.00,109.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,76.33,0.00,96.90,0.00,0.00

In [26]:
#assets_list = list(assets['asset'].unique())
assets_list = list(final_assets.columns)
f = fiis['asset'].apply(lambda a : a in assets_list)
fiis = fiis[f]
fiis.reset_index(drop=True, inplace=True)

In [27]:
fiis#.head(10)
#list(final_assets.columns)

,asset,price,lqdt,divd,dy,dy3ac,dy6ac,dy12ac,dy3m,dy6m,...,sector_none,sector_hosp,sector_hotel,sector_hbd,sector_corp,sector_log,sector_other,sector_resd,sector_shop,sector_title
0,KINP11,12.99,2164.0,0.370736,2.896379,7.326577,0.000000,0.000000,2.442192,0.000000,...,0,0,0,0,0,0,0,1,0,0
1,HGLG11,162.00,25676.0,3.300000,2.007055,3.343968,5.322784,9.688302,1.114656,0.887131,...,0,0,0,0,0,1,0,0,0,0
2,TORD11,8.62,68954.0,0.170000,1.940639,3.983001,6.330476,12.265245,1.327667,1.055079,...,0,0,0,0,0,0,1,0,0,0
3,JPPA11,102.50,6406.0,2.040000,1.922714,5.583921,9.891263,16.640092,1.861307,1.648544,...,0,0,0,0,0,0,0,0,0,1
4,RZAK11,97.50,23917.0,1.800000,1.837672,4.884843,9.036357,14.857053,1.628281,1.506059,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,BPML11,60.20,10075.0,0.150000,0.230840,0.947143,2.586083,0.000000,0.315714,0.431014,...,0,0,0,0,0,0,0,0,1,0
241,CARE11,4.04,10228.0,0.001677,0.226622,0.662308,1.358523,1.600128,0.220769,0.226421,...,0,0,0,1,0,0,0,0,0,0
242,ERPA11,127.00,541.0,0.267830,0.210890,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,0,0,0,0,0,0,0,0,0
243,CXTL11,338.79,4.0,0.478929,0.164580,0.672865,1.290376,0.000000,0.224288,0.215063,...,0,0,0,0,0,1,0,0,0,0
244,BLMO11,24785.85,4.0,10.270000,0.041435,0.168749,0.000000,0.000000,0.056250,0.000000,...,0,0,0,0,1,0,0,0,0,0

In [28]:
# --------------------------------------------------------

In [29]:
# Pre-processing some variables that would be very difficult to do in AMPL:

fdf = fiis.sort_values(by='dy', ascending=False).reset_index(drop=True)
fdf.rename(columns={'base_quotation':'price'}, inplace=True)
budget = 10000
max_diversity = sum(fdf[fdf['price'] > 0].sort_values(by='price').cumsum()['price'] < budget)
# --------------------------------------------------------------------------------------------------------
dy_price = fdf.apply(lambda row: row['dy']/row['price'] if row['dy'] > 0.0 else 0.0, axis=1)
fdf['dy_price'] = dy_price
top_invest = fdf[['asset', 'price', 'dy', 'dy_price']].sort_values(by='dy_price', ascending=False).reset_index(drop=True)
f = (top_invest['price'] > 0) & (top_invest['dy'] > 0) & (top_invest['price'] < budget)

idx = 0
max_profit = (budget // top_invest[f].loc[idx, 'price']) * top_invest[f].loc[idx, 'dy']

idx = top_invest[f].shape[0] -1
min_profit = (budget // top_invest[f].loc[idx, 'price']) * top_invest[f].loc[idx, 'dy']

#top_invest[f].loc[-1, 'price']

In [30]:
filename = '../../01-data/portifolio_data.dat'
sep = '\t'
with open(filename, 'w') as f:
    f.writelines("# PORTIFOLIO ALLOCATION PROBLEM - DATA\n")
    # --- FIIS -----------------------------------------------------------------------------------------------
    f.writelines(f"param n_assets := {fiis.shape[0]};\n")
    f.writelines(f"param asset_data: {sep.join(fiis.columns[1:])} :=\n")
    for i in range(fiis.shape[0]):
        f.writelines(f"{i+1} {sep.join([str(v) for v in fiis.loc[i].values[1:]])} #{fiis.loc[i].values[0]}\n")
    f.writelines(f";\n")
    # --- ASSETS ---------------------------------------------------------------------------------------------
    set_A = "\t".join([str(i+1) for i,_ in enumerate(final_assets.columns)])
    f.writelines(f"set A := {set_A};\n")
    set_T = "'"+"'\t'".join(list(final_assets.index))+"'"
    f.writelines(f"set T := {set_T};\n")
    f.writelines(f"param R: {set_A} :=\n")
    for k, row in final_assets.iterrows():
        values = row.values
        #print(values)
        f.writelines(f"'{k}' {sep.join([str(v) for v in values])}\n")
    f.writelines(f";\n")
    f.writelines(f"param max_diversity = {max_diversity};\n")
    f.writelines(f"param min_profit = {min_profit};\n")
    f.writelines(f"param max_profit = {max_profit};\n")

In [31]:
print(max_diversity, min_profit, max_profit)

155 4.772832402593183 2251.1415525114126

---

In [32]:
# TESTES:

In [33]:
# STATIC:
fiis.to_csv('../../01-data/static_data.csv')
#final_df
print(fiis.shape)
fiis

(245, 30)

,asset,price,lqdt,divd,dy,dy3ac,dy6ac,dy12ac,dy3m,dy6m,...,sector_none,sector_hosp,sector_hotel,sector_hbd,sector_corp,sector_log,sector_other,sector_resd,sector_shop,sector_title
0,KINP11,12.99,2164.0,0.370736,2.896379,7.326577,0.000000,0.000000,2.442192,0.000000,...,0,0,0,0,0,0,0,1,0,0
1,HGLG11,162.00,25676.0,3.300000,2.007055,3.343968,5.322784,9.688302,1.114656,0.887131,...,0,0,0,0,0,1,0,0,0,0
2,TORD11,8.62,68954.0,0.170000,1.940639,3.983001,6.330476,12.265245,1.327667,1.055079,...,0,0,0,0,0,0,1,0,0,0
3,JPPA11,102.50,6406.0,2.040000,1.922714,5.583921,9.891263,16.640092,1.861307,1.648544,...,0,0,0,0,0,0,0,0,0,1
4,RZAK11,97.50,23917.0,1.800000,1.837672,4.884843,9.036357,14.857053,1.628281,1.506059,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,BPML11,60.20,10075.0,0.150000,0.230840,0.947143,2.586083,0.000000,0.315714,0.431014,...,0,0,0,0,0,0,0,0,1,0
241,CARE11,4.04,10228.0,0.001677,0.226622,0.662308,1.358523,1.600128,0.220769,0.226421,...,0,0,0,1,0,0,0,0,0,0
242,ERPA11,127.00,541.0,0.267830,0.210890,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,0,0,0,0,0,0,0,0,0
243,CXTL11,338.79,4.0,0.478929,0.164580,0.672865,1.290376,0.000000,0.224288,0.215063,...,0,0,0,0,0,1,0,0,0,0
244,BLMO11,24785.85,4.0,10.270000,0.041435,0.168749,0.000000,0.000000,0.056250,0.000000,...,0,0,0,0,1,0,0,0,0,0

In [34]:
# HIST:
final_assets.to_csv('../../01-data/hist_data.csv')
print(final_assets.shape)
final_assets

(13, 254)

asset,ABCP11,AFHI11,AFOF11,AIEC11,ALZR11,APTO11,ARCT11,ARRI11,BARI11,BBFI11B,...,WTSP11B,XPCA11,XPCI11,XPCM11,XPHT11,XPIN11,XPLG11,XPML11,XPPR11,XPSF11
yearmonth,,,,,,,,,,,,,,,,,,,,,
202106,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,45.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
202107,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,46.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
202108,73.50,0.00,0.00,81.40,0.00,0.00,0.00,101.93,106.50,2444.99,...,46.25,0.00,100.15,29.90,0.00,0.00,105.47,0.00,68.92,8.48
202109,69.25,95.00,91.45,81.00,115.99,0.00,101.75,97.45,105.33,2380.00,...,47.17,0.00,96.89,26.31,0.00,95.63,102.25,102.03,66.51,8.21
202110,66.99,95.61,79.97,74.00,116.25,0.00,101.79,96.45,103.40,2265.00,...,50.59,0.00,97.34,21.65,0.00,94.12,98.26,104.38,64.17,7.91
202111,61.34,98.25,79.53,68.81,102.98,0.00,101.90,94.22,101.70,1977.00,...,50.00,8.94,91.00,19.70,0.00,84.56,90.83,93.90,59.12,7.10
202112,69.99,98.20,82.44,73.50,109.95,10.59,105.00,97.98,103.85,2322.00,...,48.90,9.67,96.81,22.23,0.00,89.97,102.40,94.55,67.50,8.25
202201,74.30,101.18,86.00,77.70,114.49,10.53,108.00,101.89,105.15,2275.00,...,0.00,9.72,97.30,19.05,0.00,93.85,98.59,95.20,63.23,7.90
202202,77.04,102.25,90.00,77.21,116.45,10.19,109.50,100.48,103.16,2140.00,...,0.00,9.70,95.45,17.45,0.00,85.70,92.04,93.55,58.82,7.23
202203,72.90,102.15,93.15,81.03,110.15,10.20,109.86,99.00,102.70,2028.05,...,43.88,9.87,97.10,17.44,100.00,82.79,97.73,90.60,59.27,7.00
202204,73.57,103.13,94.01,80.20,115.52,10.40,106.31,98.80,102.45,2060.00,...,41.98,10.39,96.71,17.49,98.06,84.81,97.95,100.05,58.53,7.35
202205,72.50,100.65,89.00,80.30,116.35,10.10,106.00,96.20,100.60,1936.00,...,0.00,10.06,94.80,16.44,104.01,78.36,95.46,97.40,54.18,7.17
202206,0.00,102.44,90.89,0.00,115.50,0.00,109.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,76.33,0.00,96.90,0.00,0.00